.login-section {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
}
form {
    margin: 30px;
    border-radius: 10px;
    border: 1px solid;
    padding: 20px;
    width: 300px;
    box-shadow: 2px 2px 5px -1px;
}
.form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.form-group input {
    padding: 10px;
}
.form-group label {
    display: flex;
    margin: auto 0px;
}
form button {
    margin: auto;
    display: flex;
    padding: 10px 30px;
}